.note-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 280px;
    width: 100%;
    background-color: rgb(204, 202, 202);
    border-radius: 15px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.08);
    padding: 90px 20px 40px;
    overflow: hidden;
    box-sizing: border-box;
    font-size: 26px;
    margin-top: 20px;
    min-height: 300px;
}

.note-container h3 {
    text-align: center;
    word-break: break-word;
    overflow-wrap: break-word;
}